<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://font.elice.io/css?family=Elice+DX+Neolli"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <style>
      html,
      body {
        font-family: "Elice DX Neolli", sans-serif;
      }

      .card {
        transition: all 0.1s ease-in-out;
      }

      .card:hover {
        transform: scale(1.01);
      }

      .board-item:hover {
        cursor: pointer;
      }

      .board-item > .btn-group {
        display: none;
      }

      .board-item:hover > .btn-group {
        display: flex;
      }
    </style>
    <title>게시판</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="header mb-5">
        <h1 class="text-center">소설 추천 게시판 목록</h1>
      </div>
      <div class="d-flex justify-content-end mb-3">
        <a th:href="@{/boards/create}" class="btn btn-primary">게시판 추가</a>
      </div>
      <div class="container p-0">
        <div class="row row-cols-3 position-relative">
          <div
            class="col mb-3"
            th:unless="${#lists.isEmpty(boards)}"
            th:each="board : ${boards}"
          >
            <div
              class="card"
              onmouseover="event.currentTarget.classList.add('shadow')"
              onmouseleave="event.currentTarget.classList.remove('shadow')"
            >
              <a
                class="board-item pe-auto p-3 link-underline link-underline-opacity-0 d-flex"
                th:href="@{/boards/{boardId}(boardId=${board.id})}"
              >
                <img
                  class="img-thumbnail w-50 h-50 me-3"
                  src="hellobit.png"
                  alt="hellobit"
                />
                <div>
                  <h4
                    class="card-title fw-bold text-dark"
                    th:text="${board.name}"
                  >
                    게시판 이름
                  </h4>
                  <span
                    class="card-text text-secondary text-wrap"
                    th:text="${board.description}"
                    >게시판 설명</span
                  >
                </div>
                <div
                  class="position-absolute end-0 bottom-0 mb-3 me-3 btn-group bg-white bg-opacity-75"
                  role="group"
                  aria-label="edit-delete"
                >
                  <button
                    class="btn btn-outline-primary lh-1"
                    th:onclick="'event.preventDefault(); location.href=\'/boards/' + ${board.id} + '/edit\''"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button
                    class="btn btn-outline-danger lh-1"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    th:onclick="handleDeleteButton(event, [[${board.id}]]);"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
        <span
          th:if="${#lists.isEmpty(boards)}"
          class="d-block w-100 text-center"
          >생성된 게시판이 없습니다.</span
        >
      </div>
    </div>

    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">
              게시판을 삭제하시겠습니까?
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="fw-light">게시판에 포함된 모든 게시글이 삭제됩니다.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="handleDeleteModalButton()"
            >
              삭제
            </button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      let currentBoard;

      function handleDeleteButton(e, boardId) {
        e.preventDefault();
        currentBoard = boardId;
      }

      function handleDeleteModalButton() {
        fetch(`/boards/${currentBoard}/delete`, {
          method: "DELETE",
        }).then(() => (window.location.href = "/boards"));
      }
    </script>

    <!-- 부트스트랩 JS 추가 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
