<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://font.elice.io/css?family=Elice+DX+Neolli"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <style>
      html,
      body {
        font-family: "Elice DX Neolli", sans-serif;
      }

      .dropdown-toggle:after {
        content: none;
      }

      .comment .btn-group {
        display: none;
      }

      .comment:hover .btn-group {
        display: flex;
      }
    </style>
    <title th:text="${post.title}"></title>
  </head>
  <body>
    <div class="container my-5 mx-auto">
      <a
        class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
        style="transition: all 0.1s ease-in-out"
        th:href="@{/boards/{boardId}(boardId=${post.boardDTO.id})}"
        >&larr; 게시판으로 돌아가기</a
      >
      <div class="container border rounded p-4 position-relative">
        <div class="header mb-3">
          <h2 class="text-start" th:text="${post.title}">게시글 제목</h2>
        </div>
        <p class="m-0" th:text="${post.content}">게시글 내용</p>
        <hr class="mt-4" />
        <h4 class="mb-3">
          댓글
          <small
            class="text-secondary"
            id="commentsCount"
            th:text="${comments.size()}"
            >0</small
          >
        </h4>
        <div
          class="container p-0 d-flex flex-column align-items-start gap-2"
          th:unless="${#lists.isEmpty(comments)}"
        >
          <div
            class="card comment"
            style="min-width: 30%"
            th:each="comment : ${comments}"
          >
            <div class="card-body position-relative">
              <p class="mb-2" th:text="${comment.content}">댓글 내용</p>
              <small class="text-secondary">2024-01-04T13:21:21</small>

              <div
                class="position-absolute end-0 top-50 translate-middle-y mb-3 me-3 btn-group bg-white bg-opacity-75"
                role="group"
                aria-label="edit-delete"
              >
                <button
                  class="btn btn-outline-primary lh-1"
                  data-bs-toggle="modal"
                  data-bs-target="#editCommentModal"
                  th:onclick="handleEditCommentButton(event, [[${comment.id}]], [[${comment.content}]],  [[${post.id}]]);"
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button
                  class="btn btn-outline-danger lh-1"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteCommentModal"
                  th:onclick="handleDeleteCommentButton(event, [[${comment.id}]], [[${post.id}]]);"
                >
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <span
          th:if="${#lists.isEmpty(comments)}"
          class="d-block w-100 text-center"
          >댓글이 없습니다.</span
        >

        <form
          class="mt-3 row"
          th:action="@{/comments(postId=${post.id})}"
          method="POST"
        >
          <div class="input-group">
            <textarea
              class="form-control"
              name="content"
              cols="6"
              placeholder="댓글 작성하기"
            ></textarea>
            <button class="btn btn-primary">업로드</button>
          </div>
        </form>

        <div class="position-absolute top-0 end-0 mt-4 me-4">
          <button
            class="btn btn-light lh-1 p-0 px-2 dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="material-symbols-outlined"> more_horiz </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button
                class="dropdown-item d-flex align-items-center gap-2"
                th:onclick="'location.href=\'/posts/' + ${post.id} + '/edit\''"
              >
                <span class="material-symbols-outlined"> edit </span>수정
              </button>
            </li>
            <li>
              <button
                class="dropdown-item text-danger btn btn-danger d-flex align-items-center gap-2"
                data-bs-toggle="modal"
                data-bs-target="#deletePostModal"
                th:onclick="handleDeletePostButton(event, [[${post.id}]], [[${post.boardDTO.id}]]);"
              >
                <span class="material-symbols-outlined"> delete </span>삭제
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="deletePostModal"
      tabindex="-1"
      aria-labelledby="deletePostModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deletePostModalLabel">
              게시글을 삭제하시겠습니까?
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="fw-light">게시글과 댓글이 삭제됩니다.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="handleDeletePostModalButton()"
            >
              삭제
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="editCommentModal"
      tabindex="-1"
      aria-labelledby="editCommentModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editCommentModalLabel">
              댓글 수정하기
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="commentEditForm" method="POST">
            <div class="modal-body">
              <textarea
                class="form-control"
                name="content"
                id="commentContentTextarea"
                placeholder="댓글 수정하기..."
              ></textarea>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                취소
              </button>
              <button class="btn btn-primary">수정</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="deleteCommentModal"
      tabindex="-1"
      aria-labelledby="deleteCommentModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteCommentModalLabel">
              댓글을 삭제하시겠습니까?
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="fw-light">해당 댓글이 삭제됩니다.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="handleDeleteCommentModalButton()"
            >
              삭제
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 부트스트랩 JS 추가 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script th:inline="javascript">
      let currentPost;
      let currentBoard;
      let currentComment;
      let elementToDelete;

      function handleDeletePostButton(_, postId, boardId) {
        currentPost = postId;
        currentBoard = boardId;
      }

      function handleDeletePostModalButton() {
        fetch(`/posts/${currentPost}?boardId=${currentBoard}`, {
          method: "DELETE",
        }).then(() => (window.location.href = `/boards/${currentBoard}`));
      }
      function handleDeleteCommentButton(e, commentId, postId) {
        currentComment = commentId;
        currentPost = postId;
        elementToDelete = e.target.closest(".card");
      }

      function handleDeleteCommentModalButton() {
        fetch(`/comments/${currentComment}?postId=${currentPost}`, {
          method: "DELETE",
        }).then(() => elementToDelete.remove());

        const commentsCount = document.getElementById("commentsCount");
        commentsCount.innerText = parseInt(commentsCount.innerText) - 1;

        const modal = bootstrap.Modal.getInstance("#deleteCommentModal");
        modal.hide();
      }

      function handleEditCommentButton(_, commentId, content, postId) {
        document.getElementById("commentContentTextarea").innerText = content;
        document
          .getElementById("commentEditForm")
          .setAttribute("action", `/comments/${commentId}/edit?postId=${postId}`);
      }
    </script>
  </body>
</html>
